//- footer
footer.section_ligthslate.u-pad-top
  .container
    .group
      .grid-1
        .brand-logo_grey
          a(href="#home" aria-label="logo") 
                svg
                  use(xlink:href="#logo-grey")
      .grid-2
        span.footer--blurb Follow me on:
        ul.u-list-inline.footer--social
          each link in links
            li 
              a(href=link.href aria-label=link.id) 
                svg
                  use(xlink:href="#" + link.id)
      .grid-1
        p.footer--legal
          | #{year} Made by
          a(href="#about") <strong> #{author} </strong>
          |. All Rights Reserved.
  
//- scripts
//- script(type="application/javascript", src=pathToJs)
