//- footer
footer.container
  .row  
    .col-4
      h3.u-bold check my code
      p.u-highlight| 
        a(href=codepen) Codepen 
        br
        a(href=github) GitHub  
      h3.u-bold resume 
      
      p.u-highlight
        a(href=linkedin) LinkedIn
        br
        a(href="#") CV (pdf version)
        
    .col-8
      h3.u-bold let's talk
      p.
        If you have a project or have a question, advice or simply want to say ZUP! send me a line or a few at <strong><a href="mailto:#{email}">#{email}</a></strong> I’ll be looking for your email, I won’t stuck you, I promise! :)
  small.
    &copy; #{year} #{author} All Rights Not Reserved :)
  
//- scripts
