//- head
head
  meta(charset="utf-8")
  meta(http-equiv="X-UA-Compatible" content="IE=edge,IE=9,chrome=1")
  meta(name="viewport" content="width=device-width, initial-scale=1, user-scalable=no")
  meta(name="description" content="")  
  meta(name="keywords" content="")
  title #{author} #{title}
  //- link(href="favicon.ico" rel="shortcut icon" type="image/x-icon")
  link(href=fontsLink, rel="stylesheet")
  //- link(rel="stylesheet", href=pathToNormalize)
  //- link(rel="stylesheet", href=pathToReset)
  link(rel="stylesheet", href=pathToPrimal)
  //- link(rel="stylesheet", href=pathToCustomeStyles)
  //- links
  style(media="screen").
    #background:before {
      content: " ";
      position: absolute;
      top: 0;
      left: 0;
      bottom: 0;
      right: 0;
      background-image: url("build/images/shapes-bg.svg");
      background-repeat: repeat-y;
      background-position: 50% -20%;
      width: 100%;
      height: 100%;
      opacity: 0.2;      
    }
    h1, h2, h3, h4, h5, h6 {
      font-family: "Roboto Slab";
    }
    .hire-me{
      position: relative;
    }
    .hire-me:after {
      content: "hire me";
      padding: 8px 5px;
      position: absolute;
      top: 0;
      left: 0;
      text-transform: uppercase;
      color: #E91E63;
      font-size: 16px;
      font-weight: bold;
      letter-spacing: 0.1em;
      border: 1px solid #E91E63;  
      border-radius: 3px;
    }
