//- head
head
  meta(charset="utf-8")
  meta(http-equiv="X-UA-Compatible" content="IE=edge,IE=9,chrome=1")
  meta(name="viewport" content="width=device-width, initial-scale=1, user-scalable=no")
  meta(name="theme-color" content="#000")
  meta(name="description" content="")  
  meta(name="keywords" content="")
  title #{author} #{title}
  //- link(href="favicon.ico" rel="shortcut icon" type="image/x-icon")
  link(href=fontsLink, rel="stylesheet")
  link(href="https://fonts.googleapis.com/css?family=Libre+Barcode+39+Text" rel="stylesheet")
  //- link(rel="stylesheet", href=pathToNormalize)
  //- link(rel="stylesheet", href=pathToReset)
  link(rel="stylesheet", href=pathToPrimal)
  link(rel="stylesheet", href=pathToCustomeStyles)
  //- links
