//- head
head
  meta(charset="utf-8")
  meta(http-equiv="X-UA-Compatible" content="IE=edge,IE=9,chrome=1")
  meta(name="viewport" content="width=device-width, initial-scale=1, user-scalable=no")
  meta(name="description" content="")  
  meta(name="keywords" content="")
  title #{title} #{version}
  //- link(href="favicon.ico" rel="shortcut icon" type="image/x-icon")
  //- link(href=link_to_fonts, rel="stylesheet")
  link(rel="stylesheet", href=link_to_normalize)
  link(rel="stylesheet", href=link_to_reset)
  link(rel="stylesheet", href=link_to_primal)
  link(rel="stylesheet", href=link_to_custome)
  //- links
  
