//- head
head
  meta(charset="utf-8")
  meta(http-equiv="X-UA-Compatible" content="IE=edge,IE=9,chrome=1")
  meta(name="viewport" content="width=device-width, initial-scale=1")
  meta(name="theme-color" content="#04030a")
  meta(name="description" content="")  
  meta(name="keywords" content="")
  title #{author} #{title}
  //- link(href="favicon.ico" rel="shortcut icon" type="image/x-icon")
  link(rel="icon" type="image/png" href="../build/images/favicon-32x32.png" sizes="32x32")
  link(href=fontsLink, rel="stylesheet")
  link(rel="stylesheet", href=pathToPrimal)
  link(rel="stylesheet", href=pathToCustomeStyles, media="screen")
  //- links
  script(async src="https://www.googletagmanager.com/gtag/js?id=UA-69834211-1")
  script.
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'UA-69834211-1');
  script(src="https://use.fontawesome.com/358b678f79.js")
