section#about-section
  .container.content
    .row
      .twelve.cols.l-push-double
        h6.heading.l-pad-top About me
        hr 
        br.l-push-half
        .photo.l-left
          img(src=photoPath, alt="gio")
        p.giga!= aboutMeBlurb
    .row
      .five.cols
        h6.heading skills
        hr
        p.kilo Front-End 
        p #{frontEndSkills}
        p.kilo Development 
        p!= workflow
        h6.heading Interests
        hr
        p #{interests}
      .five.cols.offset-by-two
        h6.heading Education
        hr
        p.kilo pursuing web development degree
        p San Jose City College, San Jose California
        p.kilo graphic design vocational certification
        p Metropolitan Educational District, San Jose California
        h6.heading Contact 
        hr
        p.kilo Have a project for me? Let's talk! 
        p.l-push-half #{contactBlurb}
          | Get in touch 
          a(href="mailto:#{email}") drop me an email. 
          | Let's make something awesome!
        //- a(href="mailto:#{email}").giga.lowercase #{email}
        p.kilo.l-push-double say hello
        //- .social-icons
        //-   //- +socialIcons('sm-icon')
        .social-links
          +socialLinks()
    .divider
